/GEI771/Projet-Prob-GEI771/Client/Client/bin
/GEI771/Projet-Prob-GEI771/Client/Client/obj
/GEI771/Projet-Prob-GEI771/Contracts/bin
/GEI771/Projet-Prob-GEI771/Contracts/obj
/GEI771/Projet-Prob-GEI771/Sondage/bin
/GEI771/Projet-Prob-GEI771/Sondage/obj
/GEI771/Projet-Prob-GEI771/WtfConsole/bin
/GEI771/Projet-Prob-GEI771/WtfConsole/obj
/GEI771/Projet-Prob-GEI771/WTFService/bin
/GEI771/Projet-Prob-GEI771/WTFService/obj
